@model Kennel.Models.Data.DisplayOnly.DogInfoDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <h4>DogBasicDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DogBasic.DogName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogBasic.DogName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogBasic.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogBasic.Breed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogBasic.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogBasic.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogBasic.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogBasic.Size)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", "DogBasic", new { id = Model.DogBasic.DogBasicId }, null)
    </p>
</div>

<div>
    <h4>FoodDetails</h4>
    <hr />
    @if (Model.DogInfo.FoodId == 0)
    {
        @Html.ActionLink("Add", "Create", "Food", new { id = Model.DogInfo.DogInfoId }, null)
    }
    else
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Food.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Food.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Food.AmountPerMeal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Food.AmountPerMeal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Food.MorningMeal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Food.MorningMeal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Food.EveningMeal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Food.EveningMeal)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", "Food", new { id = Model.Food.FoodId }, null)|
            @Html.ActionLink("Delete", "Delete", "Food", new { id = Model.Food.FoodId }, null)
        </p>
    }
</div>

<div>
    <h4>SpecialDetails</h4>
    <hr />
    @if (Model.DogInfo.SpecialId == 0)
    {
        @Html.ActionLink("Add", "Create", "Special", new { id = Model.DogInfo.DogInfoId }, null)
    }
    else
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Special.Instructions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Special.Instructions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Special.Allergies)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Special.Allergies)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", "Special", new { id = Model.Food.FoodId }, null)|
            @Html.ActionLink("Delete", "Delete", "Special", new { id = Model.Food.FoodId }, null)
        </p>
    }
</div>

