@model Kennel.Models.Data.Kennel.KennelDashboardItems.KennelDogDetails

@{
    ViewBag.Title = "DogDetails";
}

<p>
    @Html.ActionLink("Back to Dashboard", "Dashboard")
</p>

<div class="row">
    <div class="col-md-8 mx-auto">
        <h2 class="text-center">@Model.DogBasic.DogName Details</h2>
        @if (Model.DogInfo.DogImageId == 0)
        {
            <h4 class="text-center">No Image</h4>
        }
        else
        {
            <img class="center-block" src="@Url.Action("RenderPhoto", "DogImage", new { photoId = Model.DogInfo.DogImageId })" width="200" height="200" alt="Pet Image" />
            <p class="text-center">
            </p>
        }
    </div>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table">
        <tbody>
            <tr>
                <h4>Basics</h4>
            </tr>
            <tr>
                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.DogBasic.DogName)</th>
                <td class="col-md-2">@Html.DisplayFor(model => model.DogBasic.DogName)</td>
                <td class="col-md-8"></td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.DogBasic.Breed)</th>
                <td>@Html.DisplayFor(model => model.DogBasic.Breed)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.DogBasic.Weight)</th>
                <td>@Html.DisplayFor(model => model.DogBasic.Weight)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table">
        <tbody>
            <tr>
                <h4>Owner Information</h4>
            </tr>
            <tr>
                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Owner.Name)</th>
                <td class="col-md-2">@Html.DisplayFor(model => model.Owner.Name)</td>
                <td class="col-md-8"></td>
            </tr>
            <tr>
                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Owner.Phone)</th>
                <td class="col-md-2">@Html.DisplayFor(model => model.Owner.Phone)</td>
                <td class="col-md-8"></td>
            </tr>
            <tr>
                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Owner.Email)</th>
                <td class="col-md-2">@Html.DisplayFor(model => model.Owner.Email)</td>
                <td class="col-md-8"></td>
            </tr>
            <tr>
                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Owner.BackupName)</th>
                <td class="col-md-2">@Html.DisplayFor(model => model.Owner.BackupName)</td>
                <td class="col-md-8"></td>
            </tr>
            <tr>
                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Owner.BackupPhone)</th>
                <td class="col-md-2">@Html.DisplayFor(model => model.Owner.BackupPhone)</td>
                <td class="col-md-8"></td>
            </tr>
            <tr>
                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Owner.BackupEmail)</th>
                <td class="col-md-2">@Html.DisplayFor(model => model.Owner.BackupEmail)</td>
                <td class="col-md-8"></td>
            </tr>

        </tbody>
    </table>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table">
        <tbody>
            <tr>
                <h4>Special Details</h4>
            </tr>
            @if (Model.DogInfo.SpecialId == 0)
            {
                <h5>No Special Details</h5>

            }
            else
            {
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Special.Instructions)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Special.Instructions)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Special.Allergies)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Special.Allergies)</td>
                    <td class="col-md-8"></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table">
        <tbody>
            <tr>
                <h4>Veterinarian Details</h4>
            </tr>
            @if (Model.DogInfo.VetId == 0)
            {
                <h5>No Veterinarian Details</h5>
            }
            else
            {
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Vet.BusinessName)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Vet.BusinessName)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Vet.VetName)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Vet.VetName)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Vet.Phone)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Vet.Phone)</td>
                    <td class="col-md-8"></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table">
        <tbody>
            <tr>
                <h4>Visit Details</h4>
            </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.DogVisit.DropOffTime)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.DogVisit.DropOffTime)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.DogVisit.PickUpTime)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.DogVisit.PickUpTime)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.DogVisit.Notes)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.DogVisit.Notes)</td>
                    <td class="col-md-8"></td>
                </tr>
        </tbody>
    </table>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table">
        <tbody>
            <tr>
                <h4>Food</h4>
            </tr>
            @if (Model.DogInfo.FoodId == 0)
            {
                <h5>Feed with the kennel's food</h5>
            }
            else
            {
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Food.Name)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Food.Name)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Food.AmountPerMeal)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Food.AmountPerMeal)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Food.MorningMeal)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Food.MorningMeal)</td>
                    <td class="col-md-8"></td>
                </tr>
                <tr>
                    <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.Food.EveningMeal)</th>
                    <td class="col-md-2">@Html.DisplayFor(model => model.Food.EveningMeal)</td>
                    <td class="col-md-8"></td>
                </tr>

            }
        </tbody>
    </table>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <table class="table">
        <tbody>
            <tr>
                @if (Model.MedicationList.Count() == 0)
                {
                    <h4>Medication Details</h4>
                }
                else if (Model.MedicationList.Count() == 1)
                {
                    <h4>Medication Details</h4>
                }
                else
                {
                    <h4>Medications Details</h4>
                }
            </tr>
            @if (Model.MedicationList.Count() == 0)
            {
            }
            else
            {
                for (int i = 0; i < Model.MedicationList.Count(); i++)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.MedicationList.ElementAt(i).Name)</th>
                                <th class="col-md-2">@Html.DisplayFor(model => model.MedicationList.ElementAt(i).Name)</th>
                                <td class="col-md-8">
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.MedicationList.ElementAt(i).Dose)</th>
                                <td class="col-md-2">@Html.DisplayFor(model => model.MedicationList.ElementAt(i).Dose)</td>
                                <td class="col-md-8"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.MedicationList.ElementAt(i).MorningMeal)</th>
                                <td class="col-md-2">@Html.DisplayFor(model => model.MedicationList.ElementAt(i).MorningMeal)</td>
                                <td class="col-md-8"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.MedicationList.ElementAt(i).EveningMeal)</th>
                                <td class="col-md-2">@Html.DisplayFor(model => model.MedicationList.ElementAt(i).EveningMeal)</td>
                                <td class="col-md-8"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="col-md-2">@Html.DisplayNameFor(model => model.MedicationList.ElementAt(i).Instructions)</th>
                                <td class="col-md-2">@Html.DisplayFor(model => model.MedicationList.ElementAt(i).Instructions)</td>
                                <td class="col-md-8"></td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Reset Visit", "ResetVisit", "Kennel", new { id = Model.DogVisit.DogVisitId }, new { @class = "btn btn-default" })


<p>
    @Html.ActionLink("Back to Dashboard", "Dashboard")
</p>

